/* Lettering Excercise */


.char1,
.char2,
.char3,
.char4,
.char5 {color: red;}

.word2,
.word4 {color:#f0f;
letter-spacing: -7px;
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}